body {
	background-color: gray;
}

h2 {
    text-align: center;
}

#canvas {
    background-color: black;
    display: none;
}

#buttons {
	margin-top: 160px;
	width: 200px;
	display: flex;
	flex-direction: column;
	margin-left: 180px;
}

#inputs {
	width: 500px;
	height: 200px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.input {
	height: 15%;
	text-align: center;
}

#input_buttons {
	justify-content: center;
}